<h1> Tamagotchi! </h1>
<form action="/Tamagotchi/View" method="post">
  <label for="new-tama"> Name your Tamagotchi: </label>
  <input id="new-tama" name="new-tama" type="text">
  <button type="submit"> Submit </button>
</form>
